* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}

:root {
  --main-bg: #1e272e;
  --main-color: #0097e6;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #647d86;
}
html {
  font-size: 95.5%;
}

.row {
  margin: 0;
}

.main_menu {
  background-color: var(--main-bg);
}

.navbar {
  color: #fff;
  background-color: var(--main-bg);
  padding: 1rem 0;
}
.navbar li {
  margin-left: 30px;
}

.navbar a {
  color: #fff;
  font-size: 1.5rem;
}

.navbar a:hover {
  color: var(--main-color);
}
.navbar-toggler {
  background-color: gray;
}

.fa-snowflake {
  transition: all linear;
  animation: rot 2s linear infinite;
  color: var(--main-color);
}

@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* main_header */

.main_header_left {
  height: 90vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.main_header_left img {
  max-width: 100%;
  height: auto;
}
.main_header_left button {
  margin-top: 20px;
}

.main_header_left p {
  font-size: 2rem;
}
.main_header_left h1 {
  font-size: 4rem;
  margin: 1rem 0 4rem 0;
  text-transform: capitalize;
}
.main_header_left .text_clr {
  color: var(--main-color);
}
.main_header_left button {
  border: none;
  padding: 0.8rem 1.8rem;
  font-size: 1.4rem;
  border-radius: 2rem;
  text-transform: capitalize;
  box-shadow: 0 8px 6px -6px #000;
  outline: none;
}
.main_header_left button:hover {
  box-shadow: 0 8px 6px -6px blue;
}
.main_header_right {
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main_header_right figure img {
  width: 50%;
  filter: drop-shadow(0 0.5rem  1rem rgba(0,0,0,0.3));
}


.temp_form input[type="text"] {
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  background: #1e202b;
  color: white;
  outline: none;
  border: none;
  font-size: 1.7rem;
  border-radius: 3rem;
}
::placeholder {
  color: #bfc1c8;
}


.data_hide {
  visibility: hidden;
  transition: all 0.3 linear;
}

/* error page style img */
.errorimg{
 width:30rem;
 height: 20rem;
}
#city_name{
  color: white;
}
/* footercode */

footer {
  width: 100%;
  background-color: var(--main-bg);
  margin-top: auto;
}

footer p {
  margin: 0;
  text-align: center;
  color: #fff;
  line-height: 5rem;
  font-size: 1.4rem;
}


  
.temp_form {
  width: 70%;
  position: relative;
  margin: 2rem auto 1rem;
}

.temp_form input[type="submit"] {
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  border: none;
  background: #009ad8;
  padding: 0 2rem;
  border-radius: 3rem;
  color: white;
  font-size: 1.1rem;
}

.temp_form input[type="submit"]:hover {
  color: #009ad8;
  background-color: #fff;
}


.temp_information {
  width: 30%;
  margin: 1rem auto;
  min-height: 10rem;
  background-color: #323544;
  border-radius: 1rem;
  padding: 1rem;
  font-family: cursive;
}
.top_layer {
  width: 100%;
  background-color: #323544;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}
.top_layer p {
  color: #fff;
  font-weight: 300;
  padding: 1rem 0;
  font-size: 1.2rem;
}
.main_layer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.main_layer #cityname {
  padding: 1rem 0;
  color: #bfbfbf;
  font-weight: 300;
  font-size: 2rem;
}

.main_layer .middle_layer {
  display: flex;
  justify-content: space-around;
  color: #fff;
}

.data_hide {
  transition: all 0.3 linear;
}

@media (max-width: 576px) {
  .main_layer .middle_layer p,
  .main_layer .middle_layer .fa {
      font-size: 2rem;
  }

  sup {
      font-size: 2rem;
  }
}

.main_layer .middle_layer p,
.main_layer .middle_layer .fa {
  font-size: 4rem;
  font-weight: 300;
}

.fa {
  color: #0097e6;
}

sup {
  font-size: 3rem;
  margin-top: -2rem;
}

/* responsivecode */
@media (max-width: 768px) {
  .main_header_left {
    height: auto;
    margin: 5rem 0;
  }
  .main_header_right {
    height: auto;
    margin-top: 3rem;
  }
  .temp_form{
    width: auto;
  }
  .temp_information{
    width: auto;
  }
  .main_layer .middle_layer p,
.main_layer .middle_layer .fa {
  font-size: 2rem;
  font-weight: 100;
}
sup {
  font-size: 2rem;
  margin-top: -10rem;
}
}
