<!DOCTYPE html>
<html lang="en">
  <head>
    {{>headerlinks}}
  </head>
  <body>
    {{>navbar}}
    <!-- main header -->
        <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form action="" class="temp_form">
                        <input type="text" name="" id="cityname" placeholder="Enter Your City" autocomplete="off">
                        <input type="submit" value="Search" id="submitbtn">
                    </form>
                </div>
                <div class="temp_information">
                    <div class="top_layer">
                        <p id="day"></p>
                        <p id="today_date"></p>
                    </div>
                    <div class="main_layer ">
                        <p id="city_name"> output soon</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_real_val">0</span> <sup>o</sup>C</p>
                            <p id="temp_status"><i class='fas fa-cloud'></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        
 {{>footer}}
 <script src="js/main.js"></script>
 <script>
  const day = document.getElementById("day");
  const today_date =document.getElementById("today_date");
  const getcurrentDay = () => {
                let weekday = [
                  'sunday',
                  'monday',
                  'tuesday',
                  'wednesday',
                  'thursday',
                  'friday',
                  'saturday'
                ]
        
                let currenttime = new Date()
                let day = weekday[currenttime.getDay()]
                return day
              }
              const getcurrenttime = () => {
                const months = [
                  'jan',
                  'feb',
                  'mar',
                  'apr',
                  'may',
                  'june',
                  'july',
                  'aug',
                  'sept',
                  'oct',
                  'nov',
                  'dec'
                ]
                let now = new Date()
                let month = months[now.getMonth()]
                let date = now.getDate()
                let year = now.getFullYear()
        
                let hour = now.getHours()
                let min = now.getMinutes()
        
                let period = 'AM'
                if (hour >= 12) {
                  period = 'pM'
                  if (hour > 12) hour -= 12
                }
                if (hour === 0) {
                  hour = 12
                }
                if (min < 10) {
                  min = '0' + min
                }
                return `${month} ${date} | ${hour} : ${min} ${period}`
              }
        
              today_date.innerHTML = getcurrentDay() + ' | ' + getcurrenttime()
 </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
